.animation-fadeOut {
    animation: fadeOut 5s ease-in-out;
    /* transition: margin-top 2s ease-in-out; */
}


@keyframes fadeOut {

    0% {
        color: red;
        /* margin-top: 0px;  */
    }
    100% {
        /* margin-top: -10px; */

        color: transparent;

    }

}
