.custom-contact-table-height {
    height: calc(100vh - 160px);
}

.custom-height-alphabets {
    height: calc(100vh - 240px);
}


@media (width = 375px) {
    .custom-height-alphabets {
        height: calc(100vh - 320px);

    }
}

@media (min-width: 425px) and (max-width: 480px) {
    .custom-height-alphabets {
        height: calc(100vh - 270px);

    }
}

@media (min-width: 550px) and (max-width: 760px) {
    .custom-height-alphabets {
        height: calc(100vh - 270px);

    }
}

@media (width >= 1900px) {
    .custom-height-alphabets {
        height: calc(100vh - 260px);

    }
}

@media (width >= 2300px) {
    .custom-height-alphabets {
        height: calc(100vh - 240px);

    }
}
